<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="left" class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">学生信息管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="../..">查看所有学生</a></dd>
                    <dd><a href="../addstudent">添加学生</a></dd>
                    <dd><a href="">其他</a></dd>
                    <dd><a href="">其他</a></dd>
                    <dd><a href="">其他</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">其他</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">列表一</a></dd>
                    <dd><a href="javascript:;">列表二</a></dd>
                    <dd><a href="">超链接</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">其他</a></li>
            <li class="layui-nav-item"><a href="">其他</a></li>
        </ul>
    </div>
</div>

</body>
</html>