<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>学生管理系统</title>
    <link rel="stylesheet" href="/css/layui.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <script src="/js/layui.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/npm.js"></script>
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <!--    插入顶部-->
    <div th:insert="~{/common/top :: top}"></div>
    <!--    插入左边-->
    <div th:insert="~{/common/left :: left}"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" id="name" lay-verify="required" placeholder="查询学生" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <a type="button" onclick="queryStudent()" class="layui-btn ">确定</a>
                </div>
            </div>
            <table border="2" align="center" class="layui-table" lay-even="" lay-skin="row">
                <!--            <table class="table table-hover" >-->
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <td>序号</td>
                    <td>姓名</td>
                    <td>性别</td>
                    <td>学号</td>
                    <td>院系</td>
                    <td>年级</td>
                    <td>层次</td>
                    <td>账号</td>
                    <td>密码</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="stu,s:${student}">
                    <td th:text="${s.count +(page.getPage()-1)*num}"></td>
                    <td th:text="${stu.getName()}"></td>
                    <td th:text="${stu.getGender()}"></td>
                    <td th:text="${stu.getStudentid()}"></td>
                    <td th:text="${stu.getDepartment()}"></td>
                    <td th:text="${stu.getGrade()}"></td>
                    <td th:text="${stu.getLevel()}"></td>
                    <td th:text="${stu.getAccount()}"></td>
                    <td th:text="${stu.getPassword()}"></td>
                    <td>
                        <a type="button" class="layui-btn "
                           th:href="@{'/modify/'+${stu.getId()}}+'?page='+${page.getPage()}">修改</a>
                        <a type="button" onclick="javascript:return del();" class="layui-btn layui-btn-danger"
                           th:href="@{'/delete/'+${stu.getId()}}+'?page='+${page.getPage()}">删除</a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="position: fixed;left: 0px;right: 0px;bottom: 0px">
            <!--            分页-->
            <nav aria-label="Page navigation" align="center " style="position: relative; bottom: 25px;  ">
                <ul class="pagination">

                    <li th:if="${page.isShowFirstPage()}">
                        <a th:href="@{'/?page=1'}" aria-label="Previous">
                            <span aria-hidden="true">首页</span>
                        </a>
                    </li>
                    <li th:if="${page.isShowPrevious()}">
                        <a th:href="@{'/?page='+${page.getPage()-1}}" aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                    </li>
                    <li th:each="p:${page.getPages()}" th:class="${page.getPage()==p }? 'active' : ''"><a
                            th:href="@{'/?page='+${p}}" th:text="${p}"></a></li>
                    <li th:if="${page.isShowNext()}">
                        <a th:href="@{'/?page='+${page.getPage()+1}}" aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>
                    <li th:if="${page.isShowEndPage()}">
                        <a th:href="@{'/?page='+${page.getTotalPage()}}" aria-label="Next">
                            <span aria-hidden="true">尾页</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!--    插入底部-->
    <div th:insert="~{/common/footer :: foot}"></div>
</div>
</body>
<script>
    function confirmDelete() {
        if (confirm("真的要删除吗?")) {
            return true;
        } else {
            return false;
        }
    }

    function del() {
        var msg = "您真的确定要删除吗？\n\n请三思！！！！";
        if (confirm(msg) == true) {
            return true;
        } else {
            return false;
        }
    }

    function queryStudent() {

        var name = document.getElementById("name").value;
        window.location.href = "/query?name=" + name;
    }
</script>
<script th:inline="javascript">
    window.onload = function () {
        if ([[${message!=null}]]) {
            var message = [[${message}]];
            if (message == 1) {
                alert("恭喜您，修改成功！");
            } else if (message == 2) {
                alert("恭喜您，删除成功！");
            } else if (message == 3) {
                alert("恭喜您，添加成功！");
            }
        }
    }
</script>
</html>