<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>学生管理系统</title>
    <!--    <link rel="stylesheet" href="/css/layui.css">-->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <!--    <script src="/js/layui.js"></script>-->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/npm.js"></script>
    <script src="/layui/layui.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <a class="layui-logo" href="../">学生管理系统</a>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">学生管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:text="'欢迎您：'+${#httpSession.getAttribute('user')}"></a></li>
            <li class="layui-nav-item"><a href="/logoff">退出登录</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">学生信息管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="../">查看所有学生</a></dd>
                        <dd><a href="../addstudent">添加学生</a></dd>
                        <dd><a href="">其他</a></dd>
                        <dd><a href="">其他</a></dd>
                        <dd><a href="">其他</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其他</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">其他</a></li>
                <li class="layui-nav-item"><a href="">其他</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <!--提交表单-->
            <form class="layui-form layui-form-pane" action="/modifystudent" th:method="post">

                <input type="hidden" name="id"  th:value="${student.getId()}"  >
                <input type="hidden" name="page"  th:value="${page}"  >
                <div class="layui-form-item">
                    <label class="layui-form-label">学生姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" lay-verify="required" th:value="${student.getName()}"  autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="gender" th:if="${student.getGender()!='男'}" value="男" th:title="男" >
                        <input type="radio" name="gender" th:value="${student.getGender()}" th:title="${student.getGender()}"  checked="">
                        <input type="radio" name="gender" th:if="${student.getGender()!='女'}" value="女"  th:title="女" >
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">学号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="student_id" lay-verify="required" th:value="${student.getStudent_id()}" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请务必填写学号</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">院系</label>
                    <div class="layui-input-inline">
                        <input type="text" name="department" lay-verify="required" th:value="${student.getDepartment()}" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请务必填写院系</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">年级</label>
                    <div class="layui-input-inline">
                        <input type="text" name="grade" lay-verify="required" th:value="${student.getGrade()}" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请务必填写年级</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">层次</label>
                    <div class="layui-input-inline">
                        <input type="text" name="level" lay-verify="required" th:value="${student.getLevel()}" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请务必填写层次</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">学生账号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="account" lay-verify="required" th:value="${student.getAccount()}" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请务必填写账号</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">学生密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" lay-verify="required" th:value="${student.getPassword()}" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请务必填写密码</div>
                </div>

<!--                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">添加描述</label>
                    <div class="layui-input-block">
                        <textarea th:value="${student.getDescribe()}" autocomplete="off" class="layui-textarea"></textarea>
                    </div>
                </div>-->
                <div class="layui-form-item">
                    <button class="layui-btn" lay-submit="" lay-filter="demo2">确认修改</button>
                </div>
            </form>
        </div>
    </div>

    <div class="layui-footer" align="center">
        <!-- 底部固定区域 -->
        <div>Copyright © 2020  ICP备000000号   · All Rights Reserved Powered By <a href="" target="_blank"> GDD </a></div>
    </div>
</div>
</body>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form;
    })
</script>
</html>

